html, body {
  width: 100%;
  height: 100%; }
  html #oas-container, body #oas-container {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    overflow: hidden; }

.btn-group {
  display: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }
